<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor="cyan">
	<form action="Login" method="post">
		<table align="center">
			<h1 align="center">WELCOME TO LOGIN PAGE</h1>
			<tr>
				<td>emailId</td>
				<td><input type="text" name="email" placeholder="Enter email"
					required></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="password" name="pass"
					placeholder="Enter password" required></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Login"></td>
			</tr>
			<tr>
				<td></td>
				<td>If new click<a href="Registration.html">Register</a></td>
			</tr>
		</table>
	</form>
</body>
</html>