<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body align="center" bgcolor="orange">
	<form action="Register" method="post">
		<table align="center" >
		<h1 align="center"><font color="white" size="8">WELCOME TO REGISTRATION PAGE</font></h1>
			<tr>
				<td>FirstName</td>
				<td><input type="text" name="fname" required></td>
			</tr>
			<tr>
				<td>LastName</td>
				<td><input type="text" name="lname" required></td>
			</tr>
			<tr>
				<td>emailId</td>
				<td><input type="text" name="email" required></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="password" name="pass" required></td>
			</tr>
			<tr>
				<td>ConfirmPassword</td>
				<td><input type="password" name="cpass" required></td>
			</tr>
			<tr>
				<td>mobileNumber</td>
				<td><input type="number" name="mobile" required></td>
			</tr>
				<tr>
				<td>Gender:</td>
				<td>	<select  name="gender">
						<option>--select--</option>
						<option required name="gender">male</option>
						<option required name="gender">female</option>
						<option required name="gender">others</option>
						</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Register"></td>
			</tr>
			
		</table>
	</form>
</body>
</html>